Repository snc/SncRedisBundle, pull requests merged in 2022-12, with the labels that each got.

#685 Fix config for replicated setups
  src/DependencyInjection/SncRedisExtension.php
  tests/DependencyInjection/SncRedisExtensionTest.php
Labels: bug

#686 Support predis 2
  composer.json
  docs/README.md
  src/DependencyInjection/Compiler/LoggingPass.php
  src/DependencyInjection/Configuration/Configuration.php
  src/DependencyInjection/SncRedisExtension.php
  src/Resources/config/schema/redis-1.0.xsd
  tests/Client/Predis/Connection/ConnectionWrapperTest.php
  tests/DependencyInjection/Fixtures/config/xml/invalid.xml
  tests/DependencyInjection/Fixtures/config/xml/valid.xml
  tests/DependencyInjection/Fixtures/config/yaml/env_predis_profile.yaml
  tests/DependencyInjection/SncRedisExtensionEnvTest.php
  tests/DependencyInjection/SncRedisExtensionTest.php
  tests/Functional/App/config.yaml
Labels: predis, enhancement

#688 Add Relay\Relay support
  .github/workflows/continuous-integration.yml
  .github/workflows/static-analysis.yml
  docs/README.md
  src/DependencyInjection/Configuration/Configuration.php
  src/DependencyInjection/SncRedisExtension.php
  src/Factory/PhpredisClientFactory.php
  tests/DependencyInjection/Fixtures/config/yaml/env_relay_minimal.yaml
  tests/DependencyInjection/SncRedisExtensionEnvTest.php
  tests/DependencyInjection/SncRedisExtensionTest.php
  tests/Factory/PhpredisClientFactoryTest.php
Labels: feature, relay

#691 Predis: Fix specifying password via options instead of DSN
  src/Factory/PredisParametersFactory.php
  tests/Factory/PredisParametersFactoryTest.php
Labels: bug, predis
